# Ignorar entorno virtual
venv/
venv311/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos médicos pesados y formatos intermedios
*.nii
*.nii.gz
*.npy
*.npz
*.pt
*.h5
*.ckpt
*.json
*.pkl

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración personales
.env

#Archivo conflictivo (excede el límite de subida de archivos)
datos/nnUNet_pretrained_weights/
